<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="DEMO Regression" parallel="tests" thread-count="2">
	<test name="SPQR" verbose="2">
		<classes>
			<class name="com.freeautomation.test.TestFindElement"></class>
		</classes>
	</test>
	<test name="Appointment" verbose="2">
		<classes>
			<class name="com.freeautomation.test.TestOrangeWebsite"></class>
		</classes>
	</test>
</suite>